<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Investing Exercises</title>
        <%- include('../style/navbar.ejs') %>
        <%- include('../style/style.ejs') %>
    </head>
    <body>
        <div class="wrapper">
            <%- include('../navbar.ejs') %>
            
            <div class="main_content">
                <div class="header">
                    <h1>Welcome!</h1>
                </div>

                <div class="info">
                    <form action="" method="post">
                        <div>This website is directly aimed at <strong>investors</strong>. Being either a novice or a market expert, you'll see great examples of real life valuation with values and strategies.</div>
                        <div>
                            <h2 class="question-title"># Question 1</h2>
                            <p>This is a practice example, if you want to see more real-life examples, go to the <a href="/exercices/1/">exercises</a> page.</p>
                            <br>
                            <p>It's widely known that you should always pay attention to your expenses. No matter how much you earn, you should never spend more than 60% of the total. Although many people follow this rule, they simply cannot become rich. A possible reason for such event is:</p>

                            <div name="poll-1" id="poll-1-choices">
                                <input type="checkbox" id="poll-1-1" value="checked" name="poll-1-1" class="input_radio_polls">
                                <label class="label-for-poll" for="poll-1-1">They pay themselves before the bills.</label>
                                <br>
                                <input type="checkbox" id="poll-2-1" value="checked" name="poll-2-1" class="input_radio_polls">
                                <label class="label-for-poll" for="poll-2-1">They focus on earning more instead of less.</label>
                                <br>
                                <input type="checkbox" id="poll-3-1" value="checked" name="poll-3-1" class="input_radio_polls">
                                <label class="label-for-poll" for="poll-3-1">They pay the bills before they pay themselves.</label>
                                <br>
                                <input type="checkbox" id="poll-4-1" value="checked" name="poll-4-1" class="input_radio_polls">
                                <label class="label-for-poll" for="poll-4-1">They invest in small caps.</label>
                                <br>
                                <input type="checkbox" id="poll-5-1" value="checked" name="poll-5-1" class="input_radio_polls">
                                <label class="label-for-poll" for="poll-5-1">They pay courses about finances and investing.</label>
                            </div>

                            <h2 class="question-title"># Question 2</h2>
                            <br>
                            <p>All of us already heard the term "small-cap" at least once. Investing in small-caps is risky but can be rewarding. The word "cap" is short for capitalization. The capitalization of a given company is called market capitalization, or "market cap" for short. How do we define the market capitalization of a company ?</p>

                            <div name="poll-2" id="poll-2-choices">
                                <input type="checkbox" id="poll-1-2" value="checked" name="poll-1-2" class="input_radio_polls">
                                <label class="label-for-poll" for="poll-1-2">Multiplying the price of the stock by the number of shares.</label>
                                <br>
                                <input type="checkbox" id="poll-2-2" value="checked" name="poll-2-2" class="input_radio_polls">
                                <label class="label-for-poll" for="poll-2-2">Multiplying the market-value of a given company by the number of shares.</label>
                                <br>
                                <input type="checkbox" id="poll-3-2" value="checked" name="poll-3-2" class="input_radio_polls">
                                <label class="label-for-poll" for="poll-3-2">Dividing the liquid debt by the price of the share.</label>
                                <br>
                                <input type="checkbox" id="poll-4-2" value="checked" name="poll-4-2" class="input_radio_polls">
                                <label class="label-for-poll" for="poll-4-2">This value is not possible to be obtained.</label>
                            </div>
                        </div>

                        <button type="submit" id="submit">Submit Answers</button>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <script>
        const rightAnswers = '<%= rightAnswers %>'.split(',');
        const wrongAnswers = '<%= wrongAnswers %>'.split(',');
        
        const exercisesSorter = '<%= sorter %>'.split(',');

        function executeRightAndWrongLogic(list, _class) {

            for (let i = 0; i < list.length; i += 2) {
                const element = document.getElementById(list[i]);
                
                if (element) {
                    element.setAttribute('checked', 'true');
                    element.classList.add(_class);
                }
            }
        }
        executeRightAndWrongLogic(rightAnswers, 'right-checkbox');
        executeRightAndWrongLogic(wrongAnswers, 'wrong-checkbox');

        if (wrongAnswers[0] !== "" || rightAnswers[0] !== "") {
            for (const element of document.getElementsByClassName('label-for-poll')) element.style.color = 'rgb(238, 80, 80)';
        }

        for (const element of exercisesSorter) {
            const labelElement = document.querySelector(`label[for="${element}"]`);
            
            if (labelElement) labelElement.style.color = 'rgb(77, 226, 77)';
            else break;
        }
    </script>
</html>